<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" \
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <dict>
      <key>NetworkState</key>
      <true/>
    </dict>
    <key>Label</key>
    <string>sweet-dns.networkchange</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/share/sweet-dns/bin/networkchange</string>
      <string>--set</string>
    </array>
    <key>WatchPaths</key>
    <array>
      <string>/private/var/run/resolv.conf</string>
    </array>
    <key>ThrotteInterval</key>
    <integer>0</integer> <!-- run at most every 0 seconds, by default 10 -->
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/sweet-dns/error.networkchange.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/sweet-dns/standard.networkchange.log</string>
  </dict>
</plist>

